//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "zmk-helpers/helper.h"
#include "zmk-helpers/key-labels/totem.h"

#define KEYS_L LT0 LT1 LT2 LT3 LT4 LM0 LM1 LM2 LM3 LM4 LB0 LB1 LB2 LB3 LB4 LB5 // Left-hand keys.
#define KEYS_R RT0 RT1 RT2 RT3 RT4 RM0 RM1 RM2 RM3 RM4 RB0 RB1 RB2 RB3 RB4 RB5 // Right-hand keys.
#define THUMBS LH2 LH1 LH0 RH0 RH1 RH2                                         // Thumb keys.

#define BASE        0
#define NAV         1
#define SYM         2
#define FUN         3
#define GAME        4
#define MISC        5

#define XXX &none
#define ___ &trans

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

// German QWERTZ Layout Keycodes
#define DE_A A
#define DE_B B
#define DE_C C
#define DE_D D
#define DE_E E
#define DE_F F
#define DE_G G
#define DE_H H
#define DE_I I
#define DE_J J
#define DE_K K
#define DE_L L
#define DE_M M
#define DE_N N
#define DE_O O
#define DE_P P
#define DE_Q Q
#define DE_R R
#define DE_S S
#define DE_T T
#define DE_U U
#define DE_V V
#define DE_W W
#define DE_X X
#define DE_Y Z  // Y and Z are swapped in German layout
#define DE_Z Y  // Y and Z are swapped in German layout

// Numbers
#define DE_N0 N0
#define DE_N1 N1
#define DE_N2 N2
#define DE_N3 N3
#define DE_N4 N4
#define DE_N5 N5
#define DE_N6 N6
#define DE_N7 N7
#define DE_N8 N8
#define DE_N9 N9

// Punctuation and symbols
#define DE_COMMA COMMA
#define DE_DOT DOT
#define DE_MINUS FSLH
#define DE_PLUS RBKT

// German umlauts and special characters
#define DE_A_UMLAUT APOS
#define DE_O_UMLAUT SEMI
#define DE_U_UMLAUT LBKT
#define DE_SZ MINUS

// Symbols accessible via Shift
#define DE_EXCL LS(N1)
#define DE_HASH BSLH
#define DE_QMARK LS(MINUS)
#define DE_STAR LS(RBKT)
#define DE_DEG LS(GRAVE)
#define DE_CARET GRAVE

// Brackets and braces
#define DE_LPAR LS(N8)
#define DE_RPAR LS(N9)
#define DE_LBKT RA(N8)
#define DE_RBKT RA(N9)
#define DE_LBRC RA(N7)
#define DE_RBRC RA(N0)
#define DE_LT NUBS
#define DE_GT LS(NUBS)

// Slashes and pipes
#define DE_FSLH LS(N7)
#define DE_BSLH RA(MINUS)
#define DE_PIPE RA(NUBS)

// Other symbols
#define DE_ACUTE EQUAL
#define DE_TILDE RA(RBKT)


#define MOD_A &hml LALT DE_A
#define MOD_S &hml RALT DE_S
#define MOD_D &hml LGUI DE_D
#define MOD_F &hml LCTRL DE_F

#define MOD_J &hmr RCTRL DE_J
#define MOD_K &hmr RGUI DE_K
#define MOD_L &hmr RALT DE_L
#define MOD_OE &hmr LALT DE_O_UMLAUT

/ {
    behaviors {
        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <KEYS_R THUMBS>;
            hold-trigger-on-release;
        };
        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <KEYS_L THUMBS>;
            hold-trigger-on-release;
        };
    };

    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base";
            bindings = <
//              ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                 &kp DE_Q      &kp DE_W      &kp DE_E      &kp DE_R      &kp DE_T        &kp DE_Z      &kp DE_U      &kp DE_I      &kp DE_O      &kp DE_P
//              ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                 MOD_A         MOD_S         MOD_D         MOD_F         &kp DE_G        &kp DE_H      MOD_J         MOD_K         MOD_L         MOD_OE
//╭─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╮
   &kp ESCAPE    &kp DE_Y      &kp DE_X      &kp DE_C      &kp DE_V      &kp DE_B        &kp DE_N      &kp DE_M      &kp DE_COMMA  &kp DE_DOT    &kp DE_MINUS  &kp DE_A_UMLAUT
//╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                             &kp TAB       &lt NAV BSPC  &kp SPACE       &mt RSHFT RET &lt SYM DE_SZ DE_U_UMLAUT
//                                          ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        Nav {
            display-name = "Nav";
            bindings = <
//              ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                 ___           ___           &kp UP_ARROW  ___           ___             ___           &kp N7        &kp N8        &kp N9        ___
//              ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                 ___           &kp LEFT      &kp DOWN      &kp RIGHT     ___             ___           &kp N4        &kp N5        &kp N6        ___
//╭─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╮
   ___           ___           ___           ___           ___           ___             &kp N0        &kp N1        &kp N2        &kp N3        ___           ___
//╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                             ___           ___           ___             ___           ___           ___
//                                          ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        Sym {
            display-name = "Sym";
            bindings = <
//              ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                 &kp DE_CARET  &kp DE_DEG    ___           &kp DE_HASH   &kp DE_EXCL     &kp DE_QMARK  &kp DE_TILDE  &kp DE_STAR   ___           ___
//              ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                 &kp DE_LT     &kp DE_LBKT   &kp DE_LBRC   &kp DE_LPAR   &kp DE_FSLH     &kp DE_BSLH   &kp DE_RPAR   &kp DE_RBRC   &kp DE_RBKT   &kp DE_GT
//╭─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╮
   &studio_unlock ___          ___           ___           &kp DE_ACUTE  ___             ___           &kp DE_PIPE   ___           ___           ___           ___
//╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                             ___           ___           ___             ___           ___           ___
//                                          ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
            >;
        };
    };
};

/* vim: set ft=c tw=174: */
